app = "estacionamiento-laravel" 
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "iad" 

# ==========================================================
# Configuración de Procesos y Servicios
# ==========================================================

# Definición del proceso "app"
[processes]
  app = "vendor/bin/heroku-php-apache2 Estacionamiento/public/"

# Servicio de escucha para el proceso "app"
[[services]]
  # El puerto interno usado por el proceso "app"
  internal_port = 8080 
  protocol = "tcp"
  processes = ["app"] # <--- ¡ESTA LÍNEA ES CLAVE!
  
  # Puerto 80 (HTTP) para redirigir a HTTPS
  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  # Puerto 443 (HTTPS)
  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[build]
  builder = "paketobuildpacks/builder:base"

[env]
  APP_ENV = "production"
  APP_DEBUG = "false"
